@import "../../../assets/style/variables";

.items {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 1rem;

    &__item-header {
        width: 100%;
        padding-bottom: 1rem;
        margin-bottom: 5rem;
        border-bottom: 0.1rem solid $line-color;
        position: fixed;
        background-color: $white;
        top: 0;
        padding-top: 1rem;
    }

    &__item-list {
        width: 100%;
        flex: 1;
        margin-top: 3rem;
        overflow-y: scroll;
    }
}
